.header img{
    height: 80px;
}
.header{
    text-align: center;
}
nav{
    background-color: black;
    padding: 10px 20px;
    height: 28px;
}

.nav-link{
    padding: 12px 10px;
    text-decoration: none;
    color: white;
    text-align: center;
    position: relative;
    margin: 10px;
    border-bottom: 4px solid rgba(255, 166, 0, 0);
    transition: all 0.2s ease;
 }

.nav-link:hover{
    
    color: white;
    position: relative;
    
    border-bottom: 4px solid orange;
    transition: all 0.2s ease;
 }